h1 {
    color: #936021;
    font-family:  "Berkshire Swash", serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 144px;
}

h2 {
    font-size: 50px;
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 400;
     font-style: normal;
}